    div {
        max-width: 900px;
        margin: 0 auto;
        background-color: whitesmoke
        }
      
    nav a {
        max-width: 900px;
        margin: 0 auto;
        background-color: whitesmoke;
        text-decoration: none;
      }

    #hero-msg h1, #hero-msg h4 {
        max-width: 900px;
        margin: 0 auto;
        background-color: whitesmoke;
        text-align: center;
      }

    .icon {
        width: 80px;
      }

    .logo {
        width: 80px;
      }
      
    #hero-img {
        width:100%;
      }

    .button-box {
        max-width: 900px;
        margin: 0 auto;
        background-color: powderblue;
        color:rgb(235, 186, 26);
      }
    
    main section {
        max-width: 900px;
        margin: 0 auto;
        background-color: whitesmoke;
        color:black;
      }
      
    #background {
        height: 725px;
    }
   
    body {
        background-color: white;
      }

    .logo {
        max-width: 80px;
      }

      
      
    header {
        background-color: powderblue;
      }
      
    nav a {
        color:rgb(235, 186, 26);
        text-align: center;
      }
      
      
    nav a:hover {
        background-color: rgb(235, 186, 26);
        color:aliceblue;
      }

          nav a header{
        text-align: center;
        background-color: rgb(235, 186, 26);
        color:aliceblue;
      }

    .book, .join {
        text-align: center;
        background-color: yellow;
        text-decoration: none;
      }
   
    .book:hover, .join:hover {
      color: black;  
      background-color: rgb(235, 186, 26);
      }
   
    #backround {
        background-color: black;
      }

    .msg{
        background-color: white;
      }

    footer p{
        background-color: white;
        font-size: 1.2em;
      }

    footer p a:hover {
        background-color: black;
        font-size: 1.2em;
        text-decoration: underline;}
      
      
    .home-title {
        background-color: rgb(0, 8, 255);
        color:aliceblue;}
    
        h1 {
        background-color: white;
        color: aliceblue;}
      
     .book, .join {
        background-color: powderblue;
        color:black;}

     .msg h2 {
        background-color: powderblue;
        color:black;}
    
    .msg p {
        color:black;}

    footer a {
        text-align: center;
        background-color: powderblue;
        color:black;
        text-decoration: none;}

    footer a:hover {
        background-color: rgb(235, 186, 26);
        color: powderblue;}
   
   
   
    

